@import "../common/Tool";

#indexPane{
  width: 16rem;
  height: 100%;
  margin: auto;

  ul{
      width: 100%;
  }

  li{
    width: 5.3rem;
    float: left;
    height: 5.3rem;
    text-align: center;
  }

  li a{
    color: #222;
    display: block;
    line-height: 2rem;
  }

  li:nth-child(3n-1){
    border-left: solid 1px $color-bg-d7;
    border-right: solid 1px $color-bg-d7;
  }
  li:last-child{
    border-right: solid 1px $color-bg-d7;
  }

  .left{
    border-left: solid 1px $color-bg-d7;
  }

  .bottom{
    border-bottom: solid 1px $color-bg-d7;
  }

  i{
    display: block;
    background: url("../../images/index_icon.png") no-repeat;
    background-size:8.2rem 1.1rem;
    margin: 1.5rem auto 0;
    height: 1.14rem;
  }

  .index_icon1{
    background-position: 0,0;
    width: 1.15rem;
  }

  .index_icon2{
    background-position: -1.2rem 0;
    width: 1rem;
  }

  .index_icon3{
    background-position: -2.2rem 0;
    width: 1rem;
  }

  .index_icon4{
    background-position: -3.29rem 0;
    width: 0.98rem;
  }

  .index_icon5{
    background-position: -4.3rem 0;
    width: 0.8rem;
  }

  .index_icon6{
    background-position: -5.15rem 0;
    width: 1.1rem;
  }

  .index_icon7{
    background-position: -6.3rem 0;
    width: 0.99rem;
  }

  .index_icon8{
    background-position: -7.3rem 0;
    width: 0.9rem;
  }
}


