.inputBox{
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  width: 12rem;
  height: 1.8rem;

  .icon{
    width: 2rem;
    height: 1.8rem;
    text-align: center;
  }

  .icon img{
    width: 1rem;
    height: 1rem;
    margin-top: .4rem;
  }


  li:last-child{
    width: 10rem;
    height: 1.8rem;

    input{

    }
  }

  input{
    width: 100%;
    border: none;
    height: 1.2rem;
    line-height: 1.2rem;
    outline: none;
    margin-top: 0.3rem;
  }
}

