#personalSettingPane{
  width: 16rem;
  height: 100%;
  margin: auto;
  overflow:hidden;

  #content{
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
    overflow: hidden;
  }

  li{
    width: 15.15rem;
    padding-left: 0.85rem;
    border-bottom: solid 1px #d7d7d7;
  }
  li:nth-child(odd){
    height: 1.8rem;
    line-height: 1.8rem;
    color: #666;
  }
  li:nth-child(even){
    height: 2.3rem;
    line-height: 2.3rem;
    color: #222;
    background-color: #FFFFFF;
  }

  li .authed{
    float: right;
    padding-right: 5%;
  }

  li.arrow{
    background: url("../../images/arrow-right.png") no-repeat #fff 95% center;
    background-size: 0.47rem 0.85rem;
  }
  li:nth-child(even) a{
    color: #222;
    display: block;
    text-decoration: none;
  }

  #logoutButton{
    margin-left: 1rem;
    width: 14rem;
    height: 1.8rem;
    border-radius: 1rem;
    margin-top: 1rem;
  }

  .a-button{
    display: block;
  }
}

