#transactionRecordPane{
  margin: auto;
  width: 16rem;
  color: #000000;
  background-color: #f3f3f3;
  min-height: 100%;

  #content{
    width: 16rem;
    background-color: #f3f3f3;
  }

  #gridPane{
    -webkit-overflow-scrolling: touch;
    width: 16rem;
  }

  .grid-item{
    margin-top: 0.4rem;
    width: 16rem;
    /**height: 10.2rem;**/
    border-top: 1px solid #D7D7D7;

  }

  .grid-item .top{
    width: 14.4rem;
    height: 2.2rem;
    background-color: #FFFFFF;
    padding: 0rem 0.8rem;
  }

  .nameAndTime{
    float: left;
    width: 8.6rem;
    height: 1.2rem;
    padding-top: 0.5rem;
    line-height: 0.6rem;
  }

  .nameAndTime div:first-child{
    font-size: 14px;
    height: 0.6rem;
    line-height: .6rem;
    color: #EA3E4F;
  }

  .nameAndTime div:last-child{
    font-size: 12px;
    height: 1rem;
    line-height: 1rem;
  }

  .payState{
    width: 5.8rem;
    height: 2.2rem;
    float: right;
    text-align: right;
    line-height: 2.2rem;
  }

  .payState button{
    background-color: #0BACD3;
    width: 4rem;
    height: 1rem;
    border-radius: 10px;
    letter-spacing: 0;
    font-size: 12px;
  }


  .button-type-green{
    background-color: #45BF55 !important;
  }

  .button-type-0BACD3{
    background-color: #0BACD3 !important;
  }


  .button-type-green{
    background-color: #45BF55 !important;
  }

  .button-type-gray{
    background-color: #999999 !important;
  }


  .gray{
    color: gray;
  }


  .center{
    width: 16rem;
    height: 4rem;
    padding: 1rem 0.4rem 1rem 0.8rem;
    background-color: #F9F9F9;
  }

  .center ul{
  }

  .center ul li{
    width: 5.2rem;
    height: 1rem;
    float: left;
  }

  .center ul .w-small{
    width: 4.2rem;
    float: left;
  }


  .bottom{
    /**height: 4rem;**/
    background-color: #FFFFFF;
    /**border-bottom: 1px solid #D7D7D7;**/
  }

  .bottom ul{
    width: 100%;
    height: 100%;
  }


  .borderBottomD7D7D7{
    border-bottom: 1px solid #D7D7D7;
  }

  .bottomText{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
  }

  .bottomText>a{
    float: left;
    color: #000000;
  }

  .bottomText>span{
    float: right;
  }

  .bottom ul li{
    width: 8rem;
    float: left;
    height: 2rem;
    line-height: 2rem;
  }

  .bottom ul li:last-child{
    float: right;
    text-align: right;
    line-height:0;
    width: 16rem;
  }

  .plhalf{
    padding-left: 0.8rem;
  }

  .prhalf{
    padding-right: 0.8rem;
  }

  .bottom button{
    width: 4rem;
    height: 1rem;
    color: red;
    letter-spacing: 0px;
    font-size: 12px;
    margin-top: 0.5rem;
    margin-right: 0.8rem;
    padding: 0px;
  }


  .trade_fail{
    width: 4.5rem;
    height: 5rem;
    margin: auto;
  }

  .trade_fail img{
    width: 4.5rem;
    height: 4.5rem;
    padding-top: .5rem;
  }

  p{
    margin-top: 2rem;
    color: #8c8c8c;
    letter-spacing: 2px;
  }

}

