.button-red{
  border-style: none;
  width: auto;
  overflow:visible;
  text-align: center;
  outline: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: #EA3E4F;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.button-red:active{
  background-color: #b91c2c;
}


.button-red:disabled{
  background-color: #999999;
}


.button-border-red{
  width: auto;
  background-color: #FFFFFF;
  border: 2px solid #EA3E4F;
  overflow:visible;
  text-align: center;
  outline: none;
  padding: 0px 15px;
  border-radius: 5px;
  letter-spacing: 2px;
}

.button-border-red:active{
  border: 2px solid #b91c2c;
  color: #b91c2c;
}


.button-state{
  width: auto;
  background-color: #FFFFFF;
  border:  none;
  overflow:visible;
  text-align: center;
  outline: none;
  letter-spacing: 2px;
  color: #FFFFFF;
}

