@import "Tool";

#header{
  width: 100%;
  height: 2.2rem;
  background-color: $color-red;
}

.iconLogo{
  width: 1.9rem;
  height: 1.35rem;
  margin-top: 0.425rem;
  margin-left: 1rem;
  float: left;
}

.iconHouse{
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  float: right;
}